/* .jumbotron {
    background-image: url("../../../public/img/navbar/cancha.jpg");
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 4em #ec1c24, 0 0 0.6em #ec1c24;
    color: white;
    height: 200px;
} */